<div class="row">
    <div class="col-md-4">
        <div>
            <h3>Add New Contact</h3>
            <div>Name: {{contact.last_name + ', ' + contact.first_name}}</div>
            <div>Email: <contact-email contact="contact"></contact-email></div>
            <div>Phone: {{contact.phone}}</div>
        </div>
        <p>&nbsp;</p>
        <p><a href="#/contacts" class="btn btn-primary btn-xs">&lt; Back to search</a></p>
    </div>
    <div class="col-md-8">
        <form id="create-form" name="create-form" role="form">
            <div ng-include="'partials/contact-form.html'"></div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="insertContact()">Save</button>
                <a href="#/contacts" class="btn btn-default pull-right">Cancel</a>
            </div>
        </form>
    </div>
</div>