<div class="row">
    <div class="col-md-4">
        <div class="search">
            <h1>
                Contact List
                <a href="#/contacts/create" class="btn btn-success pull-right">+</a>
            </h1>
            <form role="form" class="clearfix">
                <div class="form-group">
                    <label class="control-label hidden-xs">Search:</label>
                    <input ng-model="query" placeholder="Search for contacts (3 char min)" class="form-control" autofocus>
                </div>

                <div class="form-group">
                    <label class="control-label hidden-xs">Sort by:</label>
                    <select ng-model="sortOrder" class="form-control">
                        <option value="last_name">Last Name</option>
                        <option value="first_name">First Name</option>
                        <option value="email">Email</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button type="button" ng-class="(direction == '' ? 'btn btn-info' : 'btn btn-default')" ng-click="changeDirection('')">Asc</button>
                        <button type="button" ng-class="(direction == 'reverse' ? 'btn btn-info' : 'btn btn-default')" ng-click="changeDirection('reverse')">Desc</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <ul id="contact-list" class="list-group" ng-repeat="contactGroup in contacts">
            <li class="list-group-item"><h5>{{contactGroup.title}}</h5></li>
            <li class="list-group-item">
                <div class="list-group">
                    <a ng-repeat="contact in contactGroup.contacts" href="#/contacts/{{contact.id}}" class="list-group-item">
                        <span ng-show="sortOrder == 'email'">{{contact.email}} <small>({{contact.last_name + ', ' + contact.first_name}})</small></span>
                        <span ng-show="sortOrder != 'email'">{{contact.last_name + ', ' + contact.first_name}}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>